// .imageDropzone
.imageDropzone {
  padding: 5rem 2.5rem;
  gap: 2.5rem;
  background-color: var(--bs-input-addcar-bg);
  border-radius: 0.75rem;
  cursor: pointer;
}

.imageDropzone .imageDropzoneAddImgBtn {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.38;
  background-color: #0071CE;
  border: none;
  padding: 0.625rem 2.125rem;
  border-radius: 0.75rem;
}

.imageDropzone .imageDropzoneAddImgBtn:hover, 
.imageDropzone .imageDropzoneAddImgBtn:focus-visible,
.imageDropzone .imageDropzoneAddImgBtn:active {
  background-color: #408dcd !important;
}

.imageDropzone .imageDropzoneAddImgBtn:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(#408dcd, .5);
}

.imageDropzoneText {
  font-size: 1rem;
  font-weight: 600;
  color: var(--bs-text-darkgray);
  text-align: center;
}

// car gallery
.addCarGallery {
  --gallery-width: 600px;
  width: var(--gallery-width);
  height: 20%;
  @media screen and (max-width: 1400px) {
    width: calc(var(--gallery-width) - (1400px - 100vw));
  }
  @media screen and (max-width: 1024px) {
    width: calc(var(--gallery-width) + 2rem + 100px - (1400px - 100vw));
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.addCarGallery .swiper-slide {
  width: 100px;
  height: 100px;  
}

.addCarGallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

// delete image button
.addCarGalleryDeleteBtn {
  position: absolute;
  font-size: 1.25em;
  inset: 5px 5px auto auto;
  padding: 0 0.25em;
}