// Global styling 

.carTitle2 {
  font-weight: 600;  
}

/* =============================== */

// Car Gallery section
.carGallerySection {
  padding-top: 0 !important;
}

.carGalleryContainer {
  display: flex;
  gap: 3.75rem;
  @media screen and (max-width: 1024px) {
    gap: 1.75rem;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

// Car Gallery -> swiper
.carGallerySwiper {
  flex: 1;  
}

// big gallery
.swiperCarGallery {
  --gallery-width: 920px;  
  width: var(--gallery-width);
  height: fit-content;
  margin-bottom: 2.5rem;
  @media screen and (max-width: 1400px) {
    width: calc(var(--gallery-width) - (1400px - 100vw));
  }
  @media screen and (max-width: 1024px) {
    width: calc(var(--gallery-width) + 2rem + 100px - (1400px - 100vw));
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.swiperCarGallery .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;  
}

.swiperCarGallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 70vh;
  max-height: 680px;
  object-fit: cover;
  border-radius: 0.75rem;
  @media screen and (max-width: 1200px) {
    max-height: 480px;
  }
  @media screen and (max-width: 768px) {
    height: 50vh;
  }
}

.swiperCarGallery .swiper-button-next,
.swiperCarGallery .swiper-button-prev {
  width: 2rem;
  height: 2rem;
  border-radius: 0.75rem;
  background: rgba(245, 245, 245, 0.8);
  transition: 0.3s;
  &:hover {
    background-color: rgba(245, 245, 245, 0.6);
  }
}

.swiperCarGallery .swiper-button-next:after, 
.swiperCarGallery .swiper-button-prev:after {
  content: '';  
  width: 100%;
  height: 100%;
}

.swiperCarGallery .swiper-button-next:after {
  background: url("../../assets/icons/ui/swiper-right-arrow.svg") no-repeat;
  background-position: 60% 55%;
}

.swiperCarGallery .swiper-button-prev:after {
  background: url("../../assets/icons/ui/swiper-left-arrow.svg") no-repeat;
  background-position: 40% 55%;
}

// small gallery
.swiperCarGallerySmall {
  --gallery-width: 920px;
  width: var(--gallery-width);
  height: 20%;
  @media screen and (max-width: 1400px) {
    width: calc(var(--gallery-width) - (1400px - 100vw));
  }
  @media screen and (max-width: 1024px) {
    width: calc(var(--gallery-width) + 2rem + 100px - (1400px - 100vw));
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.swiperCarGallerySmall .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;  
}

.swiperCarGallerySmall .swiper-slide img {
  display: block;
  width: 100%;
  height: 15vh;
  max-height: 100px;
  object-fit: cover;
  border-radius: 0.5rem;
  @media screen and (max-width: 1024px) {
    height: 20vh;
  }
}

.swiperCarGallerySmall .swiper-slide-thumb-active img {
  box-shadow: 5px 5px 10px -5px rgba(194,194,194,0.7);
  filter: brightness(0.75);  
}

// Car Gallery -> info

.carGalleryInfo{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex: 0 0 390px;
  @media screen and (max-width: 1024px) {
    flex: 0 0 290px;
    gap: 1.25rem;
  }
}

.carGalleryCarInfo {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.75rem;
}

.carGalleryCarTitleYear {
  width: fit-content;
  max-width: 80%;
}

.carGalleryCarTitle{
  font-weight: 700;
  color: var(--bs-text-darkgray);
  margin-bottom: 0.75rem;
}

.carGalleryCarYear{
  font-weight: 500;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative;
}

.carLikeBtn {  
  display: flex;
  flex: 0 1 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  border: none;
  padding: 0;
  text-decoration: none;  
}

.carGalleryInfoPoint{
  content: '';
  background-color: var(--bs-text-darkgray);
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  overflow: hidden;
}

.carGalleryCarPrice {
  flex-basis: 100%;
  font-weight: 700;
  color: var(--bs-primary);
}

// Car Gallery -> seller info

.carGallerySellerInfo{
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 1.5rem;
  background-color: var(--bs-secondary);
  border-radius: 22px;
  @media screen and (max-width: 1024px) {
    padding: 0.75rem;
  }
}

.carGallerySellerText{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.carGallerySellerName{
  font-weight: 700;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.carGallerySellerIcons{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.carGallerySellerIconItem{
  font-weight: 600;
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.carGallerySellerIcon{
  width: 26px;
}

.carGallerySellerBtn {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.75rem 1.25rem;
  border-radius: 0.75rem;
  max-width: 350px;
  @media screen and (max-width: 1024px) {
    padding: 0.25rem 0;
  }
  @media screen and (max-width: 768px) {
    padding: 0.75rem 0;
  }
  @media screen and (max-width: 375px) {
    padding: 0.25rem 0;
  }
}

.carGallerySellerBtnIcon {
  width: 22px;
}

.carGallerySellerBtn span {
  @media screen and (max-width: 1024px) {
    max-width: 10rem;
  }
  @media screen and (max-width: 768px) {
    max-width: initial;
  }
  @media screen and (max-width: 375px) {
    max-width: 10rem;
  }
}

/* =============================== */

// Info section
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  @media screen and (min-width: 768px) {
    padding-left: 1.25rem;
  }
}

// Info -> infoImageBoxes
.infoImageBoxes{
  display: flex;
  gap: 3.75rem;
  @media screen and (max-width: 500px) {
    justify-content: space-between;
    gap: 0.5rem;
  }
}

.infoImageBoxItem{
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 100px;  
}

.infoImageBoxImg{
  width: 1.5rem;
  flex: 1 0 35px;
}

.infoImageBoxText{
  display: flex;
  flex-direction: column;
  row-gap: 0.125rem;
  flex: 1 1 50px;
  justify-content: center;
}

.infoImageBoxText1{
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  color: var(--bs-text-gray);
  hyphens: auto;
}

.infoImageBoxText2{
  font-weight: 600;
  text-align: center;
}

// Info -> list
.infoList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
  row-gap: 1.125rem;
  column-gap: 10rem;
  @media screen and (max-width: 1024px) {
    column-gap: 5rem;
  }
  @media screen and (max-width: 768px) {
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
}

.infoListItem{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--bs-text-darkgray);
}

.infoListItemName{
  font-weight: 600;
}

.infoListItemValue{
  font-weight: 500;
  color: var(--bs-text-gray);
}

/* =============================== */

// Description section

.descriptionContainer {
  @media screen and (min-width: 768px) {
    padding-left: 1.25rem;
  }
}

.descriptionTitle {
  margin-bottom: 1.5rem;
}

.descriptionDemo, 
.descriptionMore {  
  font-weight: 600;
  @media screen and (min-width: 768px) {
    padding-left: 0.625rem;
    margin-right: 10rem;
  }
}

.descriptionColapseBtn {
  padding: 0;
  margin-top: 0.5rem;
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--bs-primary);
  &:hover, 
  &:active, 
  &:focus{
    color: #fda16c !important;
  }
}

/* =============================== */

// Book section

.carBookSection {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.bookContainer{
  padding: 2.5rem 1.25rem 2.75rem;
  display: grid;
  row-gap: 2.75rem;  
  column-gap: 7.5rem;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--bs-secondary);
  border-radius: 0.75rem;
  @media screen and (max-width: 1200px) {
    column-gap: 5rem;
  }
  @media screen and (max-width: 1024px) {
    column-gap: 1.5rem;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 1.25rem; 
  }
  @media screen and (max-width: 425px) {
    padding: 1.25rem;
    row-gap: 0.75rem; 
  }
}

.bookTitle{
  font-weight: 600;
  color: var(--bs-footertext);
  grid-column: span 3;
  text-align: center;
  @media screen and (max-width: 768px) {
    grid-column: auto;
  }
}

.bookText{
  font-weight: 500;
  text-align: center;
  @media screen and (max-width: 768px) {
    max-width: 550px;
  }
}

/* =============================== */

// Similar section
.similarContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  @media screen and (min-width: 768px) {
    padding-left: 1.25rem;
  }
}

.similarSwiper .swiper-slide {
  width: 370px;
  @media screen and (max-width: 530px) {
    width: 100%;
  }
}

/* =============================== */