@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "../../custom";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body {
  font-family: "Montserrat", sans-serif;
  color: #5C5C5C;
}

a {
  color: #5C5C5C;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 0.95; /* 23/24 */
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

// Button styling
.button-font {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

// Link styling 


/* ===============================================================================================*/
// Login and Register styling
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 490px;
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (min-width: 1900px) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.loginLogo {
  max-width: 120px;
  margin-bottom: 2.5rem;
  @media screen and (max-width: 1024px) {
    max-width: 100px;   
  }
}

.loginLogo img {
  width: 100%;  
}

.loginTitle {
  font-weight: 700;
  line-height: 1.38; /* 50/36 */    
  margin-bottom: 1.25rem;
  color: var(--bs-text-darkgray);
  @media screen and (min-width: 900px) {
    font-size: 2.25rem;
    margin-bottom: 3.75rem;    
  }
}

.loginBtnForgotPassword {
  padding: 0;
  margin: 0;
  color: var(--bs-text-darkgray);
  text-decoration: inherit; 
  &:hover,
  &:active,
  &:focus-visible {
    color: var(--bs-text-darkgray) !important;
  }  
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding-left: 10px;
  padding-right: 10px;
}

.loginFormInput {
  padding: 18px;
  border-radius: 15px;
  background-color: var(--bs-secondary);
  font-size: 20px;
  line-height: 1.38; /* 27.6/20 */
  font-weight: 600;
  color: #5c5c5c;
  border: none;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.loginFormInput::placeholder {
  color: #5c5c5c99;
}

.loginFormInput:focus {
  background-color: var(--bs-secondary);
}

.loginFormInputFont {
  font-size: 20px;
  line-height: 1.38; /* 27.6/20 */
  font-weight: 600;
  color: #5c5c5c99;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.loginFormPhoneLabel {
  display: flex;
  justify-content: center;
  color: rgba(var(--bs-text-darkgray-rgb), 0.6);
  margin-bottom: 0;
}

.loginFormBtn {
  --bs-btn-font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  line-height: 1.2; /* 29/24 */
  font-weight: 700;
  color: var(--bs-light);
  padding: 20px;
  width: 100%;
  max-width: 222px;
  margin: 0 auto;
  border-radius: 24px;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  color: var(--bs-light) !important;
}

// Anchor stylilng
.anchor {
  display: inline-block;
  text-decoration: none;
  color: #1342a6;
}

.formAnchor {
  padding: 15px 0;
}

// Form styling

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputGroup input {
  padding: 10px;
}

.formContainer {
  margin: 0 auto;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.formTitle {
  font-weight: 500;
  margin-bottom: 15px;
}

// Switch

.customFormSwitch .form-check-label {
  font-weight: 600;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.38;    
    margin-top: 7px;
    margin-right: 10px;
  }
}

.customFormSwitch .form-check-input {
  border: none;
  background-color: var(--bs-secondary);
  
  @media screen and (min-width: 768px) {
    width: 55px;
    height: 30px;
  }
}

.customFormSwitch .form-check-input:checked {
  background-color: var(--bs-primary);
}

// Pages styling
.loginPage {
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}



