.newsTitle {
  margin-bottom: 2.25rem;
}
.newsMainContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
  margin-bottom: 1.5rem;  
}
.newsMainImageNews {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  img {
    max-width: 100%;
    flex: 1;
    object-fit: cover;
    border-radius: 0.75rem;
  }
}
.newsMainNews {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.newsInterestingContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
  .newsSwiper img {
    width: 100%;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 0.75rem;
    border-radius: 0.75rem;
  }
}

.newsInterestingTodayContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
  .newsSwiper img {
    width: 100%;
    max-width: 100%;
    height: 370px;
    object-fit: cover;
    margin-bottom: 0.75rem;
    border-radius: 0.75rem;
  }
}