.favoriteCarCardBig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem;
  font-weight: 700;
  background-color: var(--bs-secondary);
}

.favoriteCarCardBigLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.favoriteCarImage {
  width: 100%;
  max-width: 345px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.75rem;
}

.favoriteCarCardBigInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 320px;
}

.favoriteCarCardBigMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.favoriteCarCardBigLikeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 2rem;
          flex: 0 1 2rem;
  height: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 0;
  margin-right: 0.25rem;
  text-decoration: none;
}

.favoriteCarCardBigTitlePrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.75rem;
}

.favoriteCarCardBigPrice {
  color: var(--bs-primary);
}

.favoriteCarCardBigDetails {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.38; /* 16.56/12 */
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.favoriteCarCardBigDetails > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.favoriteCarSellerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
  padding: 0 1.5rem;
  background-color: var(--bs-secondary);
  border-radius: 22px;
}
@media screen and (max-width: 1024px) {
  .favoriteCarSellerInfo {
    padding: 0.75rem;
  }
}
.favoriteCarSellerInfo .carGallerySellerBtn {
  padding: 1.125rem 2rem;
}

.favoriteCarSellerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.favoriteCarSellerName {
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=FavoriteCarCardBig.css.map */