// Global styling

.countCircleText {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
}

.iconTitleText {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.21; /* 17/14 */
  color: var(--bs-primary);
}

.iconTitleContainer{
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.cabinetIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.625rem;
  height: 1.625rem;
}

.cabinetButton {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2;
  padding: 0.75rem;
  border-radius: 0.5rem;
  align-self: flex-start;
}

/* =================================================================================================== */

// notifications
.notificationsContainer{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* =================================================================================================== */

// favorites
.favoritesContainer{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.favoritesCards{
  max-width: 718px;
  display: flex;
  flex-direction: column;
}

/* =================================================================================================== */

// subscriptions
.subscriptionsContainer{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.subscriptionsTextBtn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 26rem;
}

.subscriptionsText {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.21; /* 17/14 */
  color: var(--bs-footertext);
}

/* =================================================================================================== */

// ads
.adsContainer{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
  max-width: 764px;
}

.adsHeader {
  display: flex;
  justify-content: space-between;
}

.mySubsBtn {
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
}

.adsCards{  
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

/* =================================================================================================== */
