.searchFormDropdownToggle {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.38;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;    
  background-color: var(--bs-input-addcar-bg);
  padding: 0.563rem 0.75rem;
  border-radius: 0.75rem;  
}

.searchFormDropdownToggleContent {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--bs-text-darkgray);
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.searchFormDropdownMenu {
  .dropdown-item {
    font-size: 1.25rem;
  }
}