[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart={{ prometheus_dir }}/prometheus \
    --config.file {{ prometheus_dir }}/prometheus.yml \
    --storage.tsdb.path {{ prometheus_dir }}/data
Restart=always

[Install]
WantedBy=multi-user.target