@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
        "primary": #FD9052,
        "secondary": #F5F5F5,        
        "light": #fff,
        "dark": #343434        
);

$custom-colors: (
  "customblue": #D4DDF4,
  "footertext": #242D3D,
  "text-gray": #888888,
  "text-darkgray": #5C5C5C,
  "darkgray": #5C5C5C,
  "input-addcar-bg": #EBECEF 
);

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.75, // New value
);

$headings-margin-bottom: 0;
$headings-font-weight: 800;
$headings-line-height: 1.375; /* 55/40 */

$container-max-widths: (  
  xxl: 1400px
);

$utilities:(
  "width": (
    property: width,
    class: w,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
      40: 40%
    )
  ),
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";