.addCarContainer {  
  padding-bottom: 3.75rem;
}

//addCarForm
.addCarForm {
  max-width: 1040px;
}

.addCarFormDivider {
  border-bottom: 2px solid var(--bs-text-darkgray);
}

.addCarFormFields {
  display: flex;
  column-gap: 2.25rem;
}

.addCarFormFields > div {
  flex: 1;
  max-width: 500px;
}

.addCarFormDescriptionFields,
.addCarFormPhotos {
  flex-direction: column;
  max-width: 800px;  
}

.addCarForm select,
.addCarForm input, 
.addCarForm textarea {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--bs-text-darkgray);
  background-color: var(--bs-input-addcar-bg);
  background-position: right 1.25rem center;
  border: none;
  border-radius: 0.75rem;
}

.addCarForm select:focus,
.addCarForm input:focus, 
.addCarForm textarea:focus {
  background-color: var(--bs-gray-500);
}
.addCarForm select:focus option {
  background-color: var(--bs-input-addcar-bg);
}

.addCarForm select:disabled,
.addCarForm input:disabled, 
.addCarForm textarea:disabled {
  opacity: 50%;
}

.addCarForm select {
  --bs-form-select-bg-img: url("../../../assets/icons/ui/select-caret.svg");
  background-position: right 0.75rem bottom 1.25rem;
  padding: 0.75rem;  
}

#addCarFormCar–°urrency {
  width: 68px;
}

.addCarForm input {
  padding: 0.75rem;
}

.addCarFirstHeader {
  margin-bottom: 1.2rem;
}

#addCarFormCarType {
  max-width: 800px;    
  background-color: #D9D9D9;
  padding: 0.6rem 1.25rem 0.6rem 0.75rem;  
}

#addCarFormCarBody {
  max-width: 500px; 
}

.addCarForm .input-group-text {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--bs-text-darkgray);
  background-color: var(--bs-input-addcar-bg);
  border: none;
  border-radius: 0.75rem;
}

.addCarFormPrice {
  display: flex;
  gap: 1.5rem;
  align-items: end;
}

#addCarFormCarPrice {
  max-width: 10rem;
}

#addCarFormCarPriceType {
  width: 4.2em;
}

// btn
.addCarFormBtn {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.38;
  padding: 0.75rem;
  border-radius: 0.75rem;
}
