.footerFont {
  font-family: "Inter", sans-serif;
}

.footerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem 2rem 1.5rem 9.2708333333vw;
}
@media screen and (max-width: 992px) {
  .footerLeft {
    padding: 1.5rem 1.25rem 1.25rem;
  }
}

@media screen and (max-width: 530px) {
  .footerLeftRow {
    gap: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .footerLeftRow > span {
    padding-left: 0;
  }
}

.footerLeftRow .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
@media screen and (max-width: 992px) {
  .footerLeftRow .col {
    padding-left: 0;
  }
}
@media screen and (max-width: 530px) {
  .footerLeftRow .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    gap: 1rem;
  }
}

.footerLeftRow .col a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.21;
  color: var(--bs-text-darkgray);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.footerLeftRow .col a:hover {
  color: var(--bs-primary);
}

.footerLeftCopyright {
  margin-top: 3rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--bs-footertext);
}

.footerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 2rem 1.5rem 6.6666666667vw;
}
@media screen and (max-width: 992px) {
  .footerRight {
    padding: 1.5rem 1.25rem 1.25rem;
  }
}

.footerRightTitle {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-text-darkgray);
}

.footerRightImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.footerRightDownload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
@media screen and (max-width: 425px) {
  .footerRightDownload {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footerRightDownloadButton {
  max-width: 186px;
}

.footerRightDownloadButton img {
  height: 53px;
}

.footerRightSocialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.footerRightSocialMedia img {
  height: 1rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.footerRightSocialMedia img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.footerRightButton {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 1.25rem 1.5rem;
  border: 2px solid var(--bs-primary);
  border-radius: 0.75rem;
  color: var(--bs-primary);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.footerRightButton:hover {
  color: white;
  background-color: var(--bs-primary);
}/*# sourceMappingURL=Footer.css.map */