// Global styling
.footerFont {
  font-family: "Inter", sans-serif;
}

//.footerLeft
.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem 2rem 1.5rem calc(100vw / 1920 * 178);
  @media screen and (max-width: 992px) {
    padding: 1.5rem 1.25rem 1.25rem;
  }  
}

.footerLeftRow {
  @media screen and (max-width: 530px) {    
    gap: 1rem;
  }
  > span {
    @media screen and (max-width: 992px) {
      padding-left: 0;
    }
  }
}

.footerLeftRow .col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @media screen and (max-width: 992px) {
    padding-left: 0;
  }
  @media screen and (max-width: 530px) {
    flex: 1 0 100%;
    gap: 1rem;
  }
}

.footerLeftRow .col a {
  align-self: flex-start;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.21;
  color: var(--bs-text-darkgray);
  transition: all 0.2s ease-out;
  &:hover {
    color: var(--bs-primary);
  }
}

.footerLeftCopyright {
  margin-top: 3rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--bs-footertext);
}

//.footerRight
.footerRight{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 2rem 1.5rem calc(100vw / 1920 * 128);
  @media screen and (max-width: 992px) {
    padding: 1.5rem 1.25rem 1.25rem;
  }  
}

.footerRightTitle {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-text-darkgray);
}

.footerRightImages{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footerRightDownload{
  display: flex;
  gap: 1.5rem;
  @media screen and (max-width: 425px) {
    flex-direction: column;
  }
}

.footerRightDownloadButton {
  max-width: 186px;
}

.footerRightDownloadButton img {
  height: 53px;
}

.footerRightSocialMedia{
  display: flex;
  gap: 1.875rem;  
}

.footerRightSocialMedia img {
  height: 1rem;  
  transition: all 0.2s ease-out;
  &:hover {
    transform: scale(1.25);
  }
}

.footerRightButton {
  align-self: flex-start;
  padding: 1.25rem 1.5rem;
  border: 2px solid var(--bs-primary);
  border-radius: 0.75rem;
  color: var(--bs-primary);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2; 
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  &:hover {
    color: white;
    background-color: var(--bs-primary);
  }
}