//.footerLeft
.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 50px;
  @media screen and (max-width: 992px) {
    padding: 2.5rem 1.25rem 1.25rem;
  }  
}

.footerLeftRow {
  @media screen and (max-width: 530px) {    
    gap: 1rem;
  }
}

.footerLeftRow .col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @media screen and (max-width: 992px) {
    padding-left: 0;
  }
  @media screen and (max-width: 530px) {
    flex: 1 0 100%;
    gap: 1rem;
  }
}

.footerLeftRow .col a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375; /* 22/16 */
  color: var(--bs-footertext);
  transition: all 0.2s ease-out;
  &:hover {
    color: var(--bs-primary);
  }
}

.footerLeftTitle {
  font-weight: 700;
  color: var(--bs-primary);
  padding-left: 90px;
  @media screen and (max-width: 992px) {
    padding-left: 0;
  }
}

//.footerRight
.footerRight{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2.5rem 2rem;
  @media screen and (max-width: 992px) {
    padding: 2.5rem 1.25rem 1.25rem;
  }  
}

.footerRightTitle {
  font-weight: 700;
}

.footerRightControlls{
  display: flex;
  gap: 100px;
  padding-top: 10px;
  @media screen and (max-width: 1200px) {
    gap: 0;
    justify-content: space-between;
  }
  @media screen and (max-width: 530px) {    
    flex-direction: column;
    gap: 1.5rem;
  }
}

.footerRightImages{
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  @media screen and (max-width: 530px) {        
    gap: 1.5rem;
  }
}

.footerRightDownload{
  padding-top: 12px;
  display: flex;
  gap: 1.5rem;
}

.footerRightDownloadButton {
  max-width: 140px;
}

.footerRightDownloadButton img {
  height: 40px;
}

.footerRightSocialMedia{
  display: flex;
  gap: 1.875rem;  
}

.footerRightSocialMedia img {
  height: 1rem;  
  transition: all 0.2s ease-out;
  &:hover {
    transform: scale(1.25);
  }
}

.footerRightButtons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footerRightButtons .btn {
  color: #5C5C5C;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.38; /* 16.56/12 */
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    color: #fff;
  }
}

.footerRightCopyright p {  
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--bs-footertext);

  &:last-child {
    margin-bottom: 0;
  }
}