.newsTextCardBig{
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  gap: 0.75rem;
  padding: 0.75rem;
  font-weight: 700;
  background-color: var(--bs-secondary);
}

.newsTextCardBigDetails{
  display: flex;
  justify-content: space-between;
}

.newsTextCardBigLikeBtn{
  z-index: 100;
  font-size: 0.625rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: var(--bs-primary) !important;
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: none;
}

.newsTextCardBigDate{
  font-size: 0.625rem;
  font-weight: 700;
}

.newsTextCardBigTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  height: 3em; /* Should be line-height * 2 */
}