.cabinetWrapper {
  padding-top: 3.75rem;
}

.cabinetContainer{
  display: flex;
  gap: 3.75rem;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.cabinetSidebarContainer{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex: 0 0 390px;
  @media screen and (max-width: 1024px) {
    gap: 1.25rem;
    width: 100%;
    max-width: 390px;
    align-self: center;
  }
}

.cabinetMainContainer{
  flex: 1;
}